extends ../layout.pug

block content
	.row.pb-3
		.container.jc-between
			div
				h1= pageTitle
				p
					a.button(href="books/new") Create new book
			//- Hide search on search page and show back button
			if(!hideSearch)
				.col-md-2.jc-right
					include ../includes/search
			else
				.col-md-2
					p
						a.button(href="/") Back
	.row
		.container
			
			if (books.length === 0 && !hideSearch)
				p Sorry your search didn't match any books
			
			else
				table.w-100
					thead 
						tr 
							th#title Title 
							th#author Author 
							th#genre Genre 
							th#year Year
					tbody
						each book in books
							tr
								td 
									a(href="books/book_detail/" + book.id)= book.title
								td= book.author 
								td= book.genre
								td= book.year

	if (!hideSearch)
		.row
			.container
				.pagination
					if (page !== 'viewAll')
						if (page != '1')
							.left
								a.button(href="books?page=" + (parseInt(page) - 1))= "<"
						p.inline.pr-1.pl-1= 'Page ' + page
						if (!finalPage)
							.right
								a.button(href="books?page=" + (parseInt(page) + 1))= ">"
						if (books.length = 10 || finalPage)
						p.inline.pl-2
							a(href="books?page=viewAll") View all
					else
						p
							a(href="books?page=1") Show less

				
		
	script(src="/js/tableSort.js")